# {{ project_name }}
{{ project_description }}

[{{ project_name }}]({{ project_url }})

Author: {{ author_full_name }}

[![Netlify Status](https://api.netlify.com/api/v1/badges/addYourNetlifySiteIdHere/deploy-status)](https://app.netlify.com/sites/{{ project_slug }}/deploys)
[![Validate](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/validate.yml/badge.svg)](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/validate.yml)
[![Build](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/build.yml/badge.svg)](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/build.yml)
[![Security](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/security.yml/badge.svg)](https://github.com/{{ author_git_provider_username }}/{{ project_slug }}/actions/workflows/security.yml)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)
[![Maintained](https://img.shields.io/badge/maintained%3F-yes-brightgreen.svg?style=flat-square)](https://github.com/{{ author_git_provider_username }}/{{ project_slug }})
[![Contributions Welcome](https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat-square)](https://github.com/{{ author_git_provider_username }}/{{ project_slug }})
[![Known Vulnerabilities](https://snyk.io/test/github/{{ author_git_provider_username }}/{{ project_slug }}/badge.svg?style=flat-square)](https://snyk.io/test/github/{{ author_git_provider_username }}/{{ project_slug }})

## Setup & Installation

### Requirements
- Homebrew
- Python
- [Taskfile](https://taskfile.dev/)

### Bootstrap
Install required software to run other project installers and task runners
`task bootstrap`

### Install
Install required dependencies
`task install`

## Usage
TODO: project usage

### Task Runner
[Taskfile.yaml](./Taskfile.yml)

### Testing

#### Validate
`task validate`

#### Security
`task security`

#### Linting, Formatting, Conventions, Style Guidelines, etc
- .pre-commit-config.yaml
- .shellcheckrc
- .ansible-lint-ignore

### Building, Deploying, & CI/CD

## Todo File
[todo.md](./todo.md)
