# {{ project_name }}
{{ project_description }}

[{{ project_name }}]({{ project_url }})
Author: {{ author_full_name }}

## Setup & Installation

### Requirements
- Homebrew
- Python
- [Taskfile](https://taskfile.dev/)

### Bootstrap
Install required software to run other project installers and task runners
`task bootstrap`

### Install
Install required dependencies
`task install`

## Usage
TODO: project usage

### Task Runner
[Taskfile.yaml](./Taskfile.yml)

### Testing

#### Validate
`task validate`

#### Security
`task security`

#### Linting, Formatting, Conventions, Style Guidelines, etc
- .pre-commit-config.yaml
- .shellcheckrc
- .ansible-lint-ignore

### Building, Deploying, & CI/CD

## Todo File
[todo.md](./todo.md)
