# Todo - {{ project_name }}
Use with [na by BrettTerpstra.com](https://brettterpstra.com/projects/na/)
Also putting todos inline with VS Code Tree Extesion, and optionally a project file in Obsidian.

Now:

Later:

Someday:

Archive:

Inbox:
