---
title: Code Project - {{ project_name }} 🪛
---
< snippet.code

$ open -a 'Visual Studio Code' {{ projects_directory }}/{{ project_slug }}/{{ project_slug }}.code-workspace
%Visual Studio Code^

< snippet.maximize
