# Checklist - {{ project_name }}

- [ ] choose or generate random `"peacock.color": "#ff3d00"` in vscode workspace
- [ ] OPTION: Setup Raycast VS Code Workspace alias
- [ ] Configure gitignore with [gitignore.io - Create Useful .gitignore Files For Your Project](https://www.toptal.com/developers/gitignore)
  - use its cli?
- [ ] OPTION: Create project in Obsidian
  - advanced-uri to create new project, etc.
  - Create a link to the Obsidian project somewhere (readme? todo.md?) Other links I should create? GitHub repo
- [ ] OPTION: Adapt doc files
  - Readme
  - Taskfile
  - howzit.md
  - justfile
  - todo.md
- [ ] Setup framework, dependencies, etc.
  - Python
    - [cookiecutter](https://cookiecutter.readthedocs.io/en/stable/README.html)
  - JavaScript
    - Astro starter templates
    - Astro cli new project setup command
  - Java
    - [Maven Archetype](https://maven.apache.org/guides/introduction/introduction-to-archetypes.html)
  - Shell
    - `dev/templates/shellScriptTemplate`
- [ ] DevOps & DevEx
  - linting, formatting, etc.
  - Setup pre-commit
  - CI/CD
- [ ] OPTION: Setup Testing
- [ ] OPTION: Setup Docker dev environment
