# Checklist - Business - {{ project_name }}
- [ ] Brand
  - SEO
  - Google Listing
  - Apple Listing
  - Facebook Listing
    - OpenGraph
- [ ] Email
  - info@{{ project_url}}
  - support@{{ project_url}}
  - {{author_first_name}}@{{ project_url}}
- [ ] Phone
